/* BrainStormPage.css
 * -----------------------------------------------------------------
 * This file contains the styling for the BrainStormPage component.
 * -----------------------------------------------------------------
 * Author: Mr. Tee Tsung (Jackson) Kao & Mr. Roland Fehr
    * Date Created: 01/12/2023
    * Updated: 01/12/2023
    * Version: 0.0.1
    * 
 */



* {
    padding: 0;
    margin: 0;
}

.BS_PageContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,28,85,1) 50%, rgba(0,0,0,1) 100%);
}

.BS_PageContainer .BS_HeaderContainer {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.BS_PageContainer .BS_HeaderContainer .LeaveSessionButton {
    background: url(../assets/exitIcon.png);
    position: absolute;
    top: 5px;
    left: 5px;
    width: 64px;
    height: 64px;
    border: none;
    z-index: 1;
    color: white;
}

.BS_PageContainer .BS_BodyContainer {
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.BS_PageContainer .BS_BodyContainer .BS_ContentContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.BS_PageContainer .BS_BodyContainer .BS_ButtonContainer {
    position: relative;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 5px;
}
.BS_BottomRow{
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.BS_PageContainer .BS_BodyContainer  .BS_ButtonContainer  {
    position: relative;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.StartSessionButton{
    background-color: green;
    min-width: 50px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    vertical-align:middle;
    align-items: center;
    color: white;
}
.EndSessionButton{
    height: 100%;
    background-color: #FFC436;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.EndVoteButton{
    height: 100%;
    background-color: #FFC436;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ExitButton{
    height: 100%;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    margin-right: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align:middle;
    color: white;
    align-items: center;
}

.BS_PageContainer .NoticeClass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 750px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.BS_PageContainer .NoticeClass div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exitIcon_BS{
    height: 70px;
}
.exitIcon_BS:hover{
    height: 80px;
}