.CreateBrainStormCustomizeWindow {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.555);
    height: 100%;
    z-index: 50;
}

.CreateBrainStormCustomizeWindow .BSinfoWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50%;
    height: 50%;
    border-radius: 10px;
}

.CreateBrainStormCustomizeWindow .BSinfoWindow .ErrorMsg {
    color: red;
    font-size: 20px;
    margin-bottom: 10px;
}

.CreateBrainStormCustomizeWindow .BSinfoWindow .CreateBtn {
    margin: 5px;
    background-color: green;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.CreateBrainStormCustomizeWindow .BSinfoWindow .CancelBtn {
    color: white;
    font-weight: bold;
    margin: 5px;
    background-color: orange;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.CreateBrainStormCustomizeWindow .BSinfoWindow input {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}