.CreateBrainStormCustomizeWindow {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.555);
    height: 100%;
}

.CreateBrainStormCustomizeWindow .BSinfoWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50%;
    height: 50%;
    border-radius: 10px;
}

.CreateBrainStormCustomizeWindow .BSinfoWindow .ErrorMsg {
    color: red;
    font-size: 20px;
    margin-bottom: 10px;
}