/*CreateBrainStormCustomize.css*/
.create-brainstorm-window {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.555);
    height: 100%;
    z-index: 50;
}

.create-brainstorm-window .bs-info-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(12, 53, 106, 1) 100%, rgba(1, 116, 190, 1) 100%);
    width: 50%;
    height: 50%;
    border-radius: 10px;
}

.create-brainstorm-window .bs-info-window h1 {
    color: white;
    font-size: 50px;
}

.create-brainstorm-window .bs-info-window .error-msg {
    color: red;
    font-size: 20px;
    margin-bottom: 10px;
}

.create-brainstorm-window .bs-info-window .create-btn {
    margin: 5px;
    background-color: green;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.create-brainstorm-window .bs-info-window .cancel-btn {
    color: white;
    font-weight: bold;
    margin: 5px;
    background-color: orange;
    border: none;
    padding: 5px;
    border-radius: 5px;
}