/*DefaultChatRoomLayout.css*/
.default-chat-room-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0c356a;
    width: 100%;
    height: 100%;
}

.default-chat-room-layout .brainstorm-icon {
    font-size: 250px;
    color: rgba(232, 232, 232, 0.6);
}

.default-chat-room-layout h2 {    
    margin-top: 50px;
    color: white;
}

.default-chat-room-layout p {
    font-size: large;
    color: rgb(183, 181, 181);
}

.create-chat-room-button {
    margin-top: 30px;
}

.create-chat-room-button button {
    border: none;
    height: 40px;
    min-height: 20px;
    color: white;
    border-radius: 5px;
    background-color: #ffc436;
    color: black;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.create-chat-room-button button:hover {
    background-color: #e6ab22;
}