/*InputSendPrompt.css*/
.input-send-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
}

.input-send-container .input-section {
    position: relative;
    border: none;
    padding: 5px;
    width: 90%;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(12,53,106,1);
    border-radius: 5px;
    &::placeholder{
        color: darkgray;
    }
}

.input-send-container .send-section {
    position: relative;
    padding: 5px;
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.input-send-container .send-section:hover{
    position: relative;
    padding: 5px;
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.AddIdeaIcon_CSS:hover{
    width: 65px;
}