/* MainPage.css */
.MainPage {
    position: absolute;
    width: 100%;
    min-width: 1200px;
    height: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
}

.MainPage .HeaderNavContainer {
    position: relative;
    width: 100%;
    height: auto
}

.MainPage .MainPageBodyContainer {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 750px;
    display: grid;
    grid-template-columns: 3.5% auto;
    background-color: rgba(2, 0, 36, 1);
}

.MainPage .NoticeClass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 750px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.MainPage .NoticeClass div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ProfileContainer{
    position: absolute;
    width: 100%;
    height: 100%;
}