.MessageContainer {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    justify-content: start;
    z-index: 10;
}

.MessageContainer .MessageWrapper {
    padding: 5px;
    padding-bottom: 0px;
    margin: 5px;
    width: 300px;
    min-width: 300px;
    border-radius: 5px;
    background-color: #0174BE;
}

.MessageContainer .MessageWrapper:hover {
    .MessageImage {
        visibility: visible;
    }
}

.MessageContainer .MessageWrapper:not(hover) {
    .MessageImage {
        visibility: hidden;
    }
}

.MessageContainer .MessageWrapper .MessageHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.MessageContainer .MessageWrapper .MessageHeader .MessageUsername {
    color: black;
    width: 100%;
}

.MessageContainer .MessageWrapper .MessageHeader .MessageImage {
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.MessageContainer .MessageWrapper .Message {
    white-space: pre-wrap;
}

.MessageContainer .MessageWrapper .Message p {
    font-weight: 500;
    color: white;
    border-radius: 1rem;
    background-color: #0174BE;
    pointer-events: auto;
    overflow-wrap: break-word;
}

.MessageContainer .MessageWrapper .Message p .MessageIsBrainstorm {
    display: flex;
    flex-direction: column;
}

.MessageContainer .MessageWrapper .Message p .MessageIsBrainstorm .MessageJoinBS {
    padding: 5px;
    background-color: #FFC436;
    color: black;
    font-weight: bold;
    border: none;
    width: 100px;
    border-radius: 20px;
    margin-top: 10px;
}

.MessageContainer .MessageWrapper .Message p .MessageIsBrainstorm .MessageJoinBS:hover {
    padding: 5px;
    background-color: #e4a616;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border-radius: 20px;
}

.MessageContainer .MessageWrapper .Message p .MessageIsBrainstorm button {
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
}

.JoinBSIcon{
    width: 50px;
}