.MessageContainer
{
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    justify-content: start;
    pointer-events: none;
    z-index: 10;
}

.MessageContainer p 
{
    font-weight: 500;
    color: #fff;
    border-radius: 1rem;
    background-color: #0088cc;
    pointer-events: auto;
    overflow-wrap: break-word;
}

.MessageWrapper {
    padding: 5px;
    margin: 5px;
    width: 300px;
    min-width: 300px;
    border-radius: 5px;
    background-color: #0088cc;
}

.MessageUsername{
    color: black;
}

.MessageContainer button {
    width: auto;
    height: auto;
}

.MessageJoinBS{
    margin: 5px;
    padding: 5px;
    background-color: #016090;
    color: white;
    border: none;
    border-radius: 5px;
}