/*MessageBox.css*/
.message-box-container {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    justify-content: start;
    z-index: 10;
}

.message-box-container .message-box-wrapper {
    padding: 5px;
    padding-bottom: 0px;
    margin: 5px;
    width: 300px;
    min-width: 300px;
    border-radius: 5px;
    background-color: #0174BE;
}

.message-box-container .message-box-wrapper:hover {
    .message-box-image {
        visibility: visible;
    }
}

.message-box-container .message-box-wrapper:not(hover) {
    .message-box-image {
        visibility: hidden;
    }
}

.message-box-container .message-box-wrapper .message-box-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.message-box-container .message-box-wrapper .message-box-header .message-box-username {
    color: black;
    width: 100%;
}

.message-box-container .message-box-wrapper .message-box-header .message-box-image {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.message-box-container .message-box-wrapper .message-box {
    white-space: pre-wrap;
}

.message-box-container .message-box-wrapper .message-box p {
    font-weight: 500;
    color: white;
    border-radius: 1rem;
    background-color: #0174BE;
    pointer-events: auto;
    overflow-wrap: break-word;
}

.message-box-container .message-box-wrapper .message-box .message-box-bs {
    font-weight: 500;
    color: white;
    border-radius: 1rem;
    background-color: #0174BE;
    pointer-events: auto;
    overflow-wrap: break-word;
    padding: 5px;
}

.message-box-container .message-box-wrapper .message-box .message-box-bs .message-isbrainstorm {
    display: flex;
    flex-direction: column;
}

.message-box-container .message-box-wrapper .message-box .message-box-bs .message-isbrainstorm .message-join-bs-button {
    padding: 5px;
    background-color: #FFC436;
    color: black;
    font-weight: bold;
    border: none;
    width: 100px;
    border-radius: 20px;
    margin-top: 10px;
}

.message-box-container .message-box-wrapper .message-box .message-box-bs .message-isbrainstorm .message-join-bs-button:hover {
    padding: 5px;
    background-color: #e4a616;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border-radius: 20px;
}

.message-box-container .message-box-wrapper .message-box .message-box-bs .message-isbrainstorm button {
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
}

.JoinBSIcon {
    width: 50px;
}