.MsgWindowContainer
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.MsgWindowContainer .MsgSection
{
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
}

.MsgWindowContainer .InputSection
{
    position: relative;
    width: 100%;
    display: flex;
    background-color: white;
}