/*NavBarTabContent.css*/
.navbar-tab-content-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #0c356a;
    border-radius: 5px 0px 0px 0px;
}

.navbar-tab-content-container .content-list-container {
    position: relative;
    width: 15%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    border-right: 1px solid white;
}

.navbar-tab-content-container .content-list-container .list-header {
    width: 100%;
    color: white;
    position: relative;
    height: auto;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    font-weight: bold;
    font-size: large;
    border-bottom: 1px solid white;
}

.navbar-tab-content-container .content-list-container .list-header .chat-room-header {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    justify-content: space-between;
    width: 100%;
}

.navbar-tab-content-container .content-list-container .list-header .chat-room-header .create-chat-room-icon {
    cursor: pointer;
    color: white;
    border: none;
    background-color: transparent;
    padding: 2px;
    font-size: 18px;
}

.navbar-tab-content-container .content-list-container .list-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.navbar-tab-content-container .content-list-container .list-container .list-item {
    position: relative;
    width: 95%;
    height: auto;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #0c356a;
    color: white;
    margin-top: 5px;
}

.navbar-tab-content-container .content-list-container .list-container .list-item:hover {
    background-color: rgb(29, 25, 75);
    color: white;
    border-radius: 5%;

    .edit-chat-room-button {
        display: flex;
    }
}

.navbar-tab-content-container .content-list-container .list-container .list-item.active {
    background-color: rgb(29, 25, 75);
    border-left: 1px solid #ffc436;
    border-radius: 5px;
}

.navbar-tab-content-container .content-list-container .list-container .list-item .item-icon {
    position: relative;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.navbar-tab-content-container .content-list-container .list-container .list-item .item-detail {
    width: 70%;
    margin-left: 10px;
}

.navbar-tab-content-container .content-list-container .list-container .list-item .item-detail .item-title {
    font-weight: 500;
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-tab-content-container .content-list-container .list-container .list-item .item-detail .last-message {
    font-size: smaller;
    color: darkgray;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-tab-content-container .chat-window-container {
    position: relative;
    width: 100%;
    display: flex;
}

.navbar-tab-content-container .content-list-container .list-container .list-item .edit-chat-room-button {
    display: none;
    width: 20px;
    height: 20px;
    z-index: 10;
}