/* navigationBar.css */
.navigation-bar
{
  position: relative;
  padding-left: 7px;
  padding-right: 7px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  background: linear-gradient(167deg, rgba(2,0,36,1) 0%, rgba(12,53,106,1) 51%, rgba(1,116,190,1) 100%);
}

.nav-button
{
  font-size: larger;
  padding: 7px;
  width: 100%;
  height: auto;
  min-height: 5%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
}

.nav-button:hover
{
  background-color: rgb(29, 25, 75);
  color: white;
  border-radius: 5px;
}

.nav-button.active {
  background-color: rgb(29, 25, 75);
  border-left: 1px solid #FFC436;
  border-radius: 5px;
}