.UserProfileContainer{
    padding: 5px;
    display: flex;
    gap: 5px;
    justify-content: start;
    background-color: #FFC436;
    border-radius: 5px;
    min-width: fit-content;
    cursor: pointer;
}

.UserProfileContainer:hover{
    padding: 5px;
    display: flex;
    gap: 5px;
    justify-content: start;
    background-color: #ecaa10;
    border-radius: 5px;
    min-width: fit-content;
    cursor: pointer;
}

.UserProfileIcon{
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.UserProfileName{
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}