.IdeaBox {
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
    background: rgba(12,53,106,1);
    align-items: start;
    border-radius: 15px;
}
.IdeaThought {
    padding: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.IdeaButton {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.LikeIdea{
    margin: 5px;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
    width: fit-content;
}

.LikeIdea:hover{
    margin: 5px;
    background-color: rgb(1, 78, 1);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
    width: fit-content;
}
.DislikeIdea{
    width: fit-content;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: red;
    color: white;
}
.DislikeIdea:hover{
    width: fit-content;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(184, 6, 6);
    color: white;
}