.IdeaBox {
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,53,106,1) 100%, rgba(1,116,190,1) 100%);
    align-items: start;
    border-radius: 15px;
}
.IdeaThought {
    padding: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.IdeaButton {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.LikeIdea{
    margin: 5px;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
    width: 100px;
}
.DislikeIdea{
    border: none;
    border-radius: 5px;
    margin: 5px;
    width: 100px;
    padding: 5px;
    background-color: red;
    color: white;
}