.YNBGSection {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 10;
}

.YNBGSection .YNContentWindow {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Leave{
    font-size: 100px;
}

.YesBtn{
    color: white;
    font-weight: bold;
    width: 100px;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: red;
}
.NoBtn{
    font-weight: bold;
    color: white;
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #FFC436;
}