.YNBGSection {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 10;
}

.YNBGSection .YNContentWindow {
    position: absolute;
    width: 30%;
    min-width: 400px;
    height: 30%;
    top: 35%;
    left: 35%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Leave{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 50px;
    pointer-events: none;
}

.Warning {
    position: absolute;
    top: 90px;
    left: 24px;
    font-size: 25px;
    pointer-events: none;
}

.LeaveWarningButton {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.YesBtn{
    color: white;
    font-weight: bold;
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: red;
}
.NoBtn{
    font-weight: bold;
    color: white;
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #FFC436;
}