/* MemberList.css */
.member-list {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.member-list .online-members h2, .member-list .offline-members h2
{
  position: relative;
  font-size: 22px;
  display: flex;
  justify-content: start;
}

.member-list ul,
.member-list li {
  cursor: pointer;
  list-style: none;
  padding: 0;
}