/* navigationBar.css */
.navigation-bar {
    background-color: #0088cc;
    width: 120px; 
    height: 100%; 
    position: fixed;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
  }
  
  .nav-button {
    background-color: transparent; 
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
  }
  
