.EditChatRoomContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.404);
    z-index: 100;
}

.EditChatRoomContainer .EditChatRoomWindow {
    position: relative;
    padding: 10px;
    width: 400px;
    height: auto;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.EditChatRoomContainer .EditChatRoomWindow .EditChatRoomForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.EditChatRoomContainer .EditChatRoomWindow .ErrorMessage {
    color: red;
    font-size: 12px;
    margin: 0;
}

.EditChatRoomContainer .EditChatRoomWindow .EditChatRoomButtonsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    position: relative;
    margin: 5px;
}

.EditChatRoomContainer .EditChatRoomWindow .EditChatRoomButtonsContainer .DeleteEditChatRoomButton {
    background-color: red;
    padding: 5px;
    justify-content: start;
    border-radius: 5px;
    border: none;
    width: 100px;
}

.EditChatRoomContainer .EditChatRoomWindow .EditChatRoomButtonsContainer .CancelEditChatRoomButton {
    padding: 5px;
    background-color: orange;
    border-radius: 5px;
    border: none;
    width: 100px;
}

.EditChatRoomContainer .EditChatRoomWindow .EditChatRoomButtonsContainer .SaveEditChatRoomButton {
    width: 100px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: green;
}